<%- include("partials/header") %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>Landing page!</h1>
                <hr>
                <p>Welcome to Memory Book</p>

                <a href="/memories">View All Memories</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>