body {
	background: url(https://images.unsplash.com/photo-1565982369439-2072eee9168a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background: url(https://images.unsplash.com/photo-1519423402150-56560526fba7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.content{
	margin-top: 20%;
    text-align: center;
}

html {
	height: 90%;
}

h1, h3 {
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-weight: 700;
    font-size: 5em;
}

hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 570px;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: rgba(218, 218, 218, 0.4);
    border-radius: 20px;
}